@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$text__Pale-Violet: hsl(276, 100%, 81%);
$text__Moderate-Violet: hsl(276, 55%, 52%);
$text__Desaturated-Dark-Violet: hsl(271, 15%, 43%);
$text__Grayish-Blue: hsl(206, 6%, 79%);
$text__Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
$text__Dark-Grayish-Violet: hsl(270, 7%, 64%);

$gradient__Light-Magenta: linear-gradient(-90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%)); 

$secondary__White: hsl(0, 0%, 100%);
$secondary__Light-Grayish-Violet: hsl(270, 20%, 96%);
$secondary__Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
$secondary__Very-Light-Magenta: hsl(289, 100%, 72%); 

body {
  padding: 15px;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-family: 'Rubik', sans-serif;
  font-size: 16px;

  background-color: #ddd;
}

.app-illustration {
  display: flex;
  justify-content: center;
}

.phone {
  width: 240px;
  height: 480px;

  position: relative;

  background-color: #eee;

  box-shadow: 0 0 20px lightgrey;

  &::before {
    content: " ";

    width: 130px;
    height: 20px;

    display: block;
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 0 0 14px 14px;

    background-color: #fff;
  }

  &::after {
    content: " ";

    width: 240px;
    height: 480px;

    display: block;
    position: absolute;

    left: -10px;
    top: -10px;

    border: 10px solid #fff;
    border-radius: 30px;
  }
}

.top-bar {
  padding: 0 10px;
  padding-top: 20px;

  height: 50px;

  display: flex;
  align-items: center;

  border-radius: 0 0 6px 6px;

  background-image: $gradient__Light-Magenta;

  box-shadow: 0 1px 6px #aaa;

  .go-back-button img, .actions-button img {
    display: block;
  }

  .go-back-button img {
    width: 10px;

    transform: rotate(-180deg) scaleY(1.3);

    filter: invert(100%);
  }

  .actions-button img {
    width: 12px;

    filter: invert(100%);
  }
}

.user-info {
  padding-left: 8px;

  flex: 1;

  display: flex;
  align-items: center;

  .user-info__user-avatar img {
    height: 25px;

    display: block;

    border: 2px solid #fff;
    border-radius: 25px;
  }

  .user-info__right-block {
    margin-left: 10px;
  }

  .user-info__user-name {
    font-size: 13px;
    font-weight: 500;

    color: #fff;
  }

  .user-info__user-status {
    margin-top: 3px;

    font-size: 8px;

    color: #fff;
  }
}

.description {
  text-align: center;

  .description__title {
    margin-bottom: 20px;

    font-size: 39px;
    font-weight: 500;
    color: $text__Very-Dark-Desaturated-Violet;
  }

  .description__text {
    margin: 0 auto;

    max-width: 400px;

    line-height: 1.6;
    color: $text__Dark-Grayish-Violet;
  }
}

@media (min-width: 375px) {

}